#route_icon{
    margin-right: 15px;
}

/* Feature Icon */

.feature-icon {
    display: inline-block;
    position: relative;
    padding-bottom: 5em;
    margin-bottom: 2.75em;
    cursor: default;
}

    .feature-icon .icon {
        display: inline-block;
        width: 2em;
        height: 2em;
        font-size: 4.5em;
        border-radius: 100%;
        box-shadow: inset 0 0 0 1px #666;
        color: #666;
        line-height: 2em;
    }

    .feature-icon:before {
        content: '';
        background: #666;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -0.325em;
        width: 0.65em;
        height: 0.65em;
        display: block;
        border-radius: 100%;
    }

/* "Lollipop handles" - Tech Skills */
    .feature-icon:after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0.65em;
        width: 1px;
        height: 4.35em;
        background: #666;
        margin-left: -0.5px;
    }

.dark .feature-icon .icon {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    color: #fff;
}

.dark .feature-icon:before, .dark .feature-icon:after {
    background: rgba(255, 255, 255, 0.5);
}

/* Icons */
/* ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

    ul.icons li {
        display: inline-block;
        padding-left: 0.75em;
    }

    ul.icons a {
        -moz-transition: background-color 0.25s ease-in-out;
        -webkit-transition: background-color 0.25s ease-in-out;
        -ms-transition: background-color 0.25s ease-in-out;
        transition: background-color 0.25s ease-in-out;
        display: inline-block;
        width: 2.75em;
        height: 2.75em;
        line-height: 2.8em;
        text-align: center;
        border: 0;
        box-shadow: inset 0 0 0 1px #e6e6e6;
        border-radius: 100%;
        color: #aaa;
    }

        ul.icons a:hover {
            background: rgba(0, 0, 0, 0.025);
        } */

/* Technical Skills Section */
.tech-skills-section {
    padding: 10rem 0 13.5rem 0;
    background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
}
.tech-skills-section p {
    margin-bottom: 5rem;
    padding-bottom: 10rem;
}

.tech-skills-header{
    color: white;
    margin-bottom: 1.3rem;
}

.tech-skills-ul{
    color: white;
    display: inline-block;
    vertical-align: top;
}


#tech-skills-title{
    color: white !important;
    padding-left: 99px;
    font-weight: bolder;
}


#projects .mb-4{
    font-weight: bolder;
}


/* Carousel */
#carouselExampleSlidesOnly{
    width: 45%;
    height: auto;
}


.btn:hover{
    background-color: #635589;
}


 /* Image Overlay */
.img-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.img-to-overlay{
    display: block;
    width: 100%;
    height: 100%;
}

.img-container{
    position: relative;
    width: 50%;
}

.img-container:hover .img-overlay {
    opacity: 0.8;
    overflow-y: scroll;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.4rem;
    font-weight: normal;
    
}

.proj-summary{
    margin-top: 2rem;
}

#ca-proj-summary{
    margin-top: 2rem;
    color: rgba(0, 0, 0, 0.548) !important;
}


/* Dropdown Menus */
.dropdown-menu{
    height: 200px;
    width: auto;
    overflow-y: scroll;
    overflow: -moz-scrollbars-vertical;
    padding-left: 10px;
}

.dropdown-menu::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.dropdown-menu::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #666666;
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

/* Contact Section */
.contact-link{
    text-decoration: none;
    color: black;
    font-size: .8rem;
}

#email{
    font-size: .8rem;
}

#email-icon, #github-icon, #linkedin-icon{
    height: 1.7rem;
    width: 1.7rem;
    margin-bottom: 10px;
}

.contact-subtitles{
    padding-top:20px;
    font-size: smaller;
}

/* Tech Projects Section */
.svg-inline--fa.fa-tablet-alt, .svg-inline--fa.fa-play-circle{
    font-size: 3em;
    vertical-align: -0.6em;
    margin-left: 10px;
}
.svg-inline--fa.fa-tablet-alt:hover, .svg-inline--fa.fa-play-circle:hover{
    color: #635589;
}

a.display-gif{
    padding-bottom: 1.9em;
}

.svg-inline--fa.fa-w-14{
    margin-right: 12px;
}

#raise-the-root-icons{
    padding-top: 32px;
}